streamlit
python-dotenv
google-generativeai
langchain>=0.2.0,<0.3.0
langchain-community>=0.2.0,<0.3.0
langchain-core>=0.2.0,<0.3.0
langchain-google-genai>=1.0.0
langchain-huggingface>=0.0.1
langchain-text-splitters>=0.2.0
faiss-cpu
sentence-transformers
unstructured
pydantic
